.searchbar{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align:center;
}
.post {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 56%;
    border: 20px solid #a7c3a1;
  }
.words{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.center{
  max-width:100%;
  height:auto;
  border: 10px solid #a7c3a1;
}
.heart{
  float: left;
  max-width:20%;
  height:auto;
}
.comment{
  float: left;
  max-width:25%;
  height:auto;
  margin-left: -80%;
}
.send{
  float: left;
  max-width:13%;
  margin-left: -150%;
 
}
.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.name{
  border: 10px solid #a7c3a1;
}
.pfp{
  max-width:10%;
  margin-right: 80%;
  margin-bottom: 1%;
  margin-top:1%
}