.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.search{
    background-color: rgb(218, 212, 212);
    border: 2px black;
    margin: 20px;
    align-items: center;
}
.searchbar{
    text-align: center;
    border: 3px solid green;
  
}